<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <img src="http://localhost:3000/images/logo.jpg" height=60 width=120 style="border-radius: 20px">
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink=''>All</a>
      <a mat-list-item routerLink="/category" >Category</a>
      <a mat-list-item href="#">Items</a>
      <a mat-list-item href="#">Ingredients</a>
      <a mat-list-item href="#">Employee</a>
      <a mat-list-item href="#">Bills</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Buddy's Pizza</span>
      <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
          <button type="button" class="btn btn-default" aria-label="Right Align">
            <span class="glyphicon glyphicon-user" aria-hidden="true" flag="true">&nbsp;
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" flag="false">
            </span></span>
          </button>
        </div>

      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
